<div class="container">
<mat-toolbar>
   <span>My App</span>
   <span class="example-spacer"></span>
   <!--button mat-raised-button color="warn" (click)="openDialog()">add Carnet</button-->
  </mat-toolbar>
    <!-- No data message -->
    <p *ngIf="Carnet.length <= 0" class="no-data text-center">There is no carnet added yet!</p>
    <!-- carnet list -->
    <div class="table table-bordered" *ngIf="Carnet.length > 0">

        <div *ngFor="let carnet of Carnet; let i = index">
          <div scope="row">{{carnet._id}}</div>
          <strong>name: <p>{{carnet.nom}}</p></strong>
          
          <p>{{carnet.prenom}}</p>
          <p>{{carnet.naissance}}</p>
          <p class="text-center edit-block">
           <!--<span class="edit" [routerLink]="['/edit-carnet/', carnet._id]">
              <button type="button" class="btn btn-success btn-sm">Edit</button>
            </span>--> 
            <span class="delete" (click)="deleteCarnet(carnet._id)">
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </span>
          </p>
        </div>

      </div>
  </div>
  